body {
    height: 100%;
    background: linear-gradient(white, green, red);
    margin:0px;
    text-align: center;
    }
 
table {
    text-align: center;
    width:100%;
}

table, th,td  {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  /*margin: 25px;*/
}

th {
    text-align: left;
    
} 


tr:hover {
    background-color: #805462;
}


thead tr:hover {
    background-color: #FFFFFF;
}
tr {
 text-align: left;
}

thead {border-bottom:2px solid grey}



.Table_ABC{ 
    width: 1200px;
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 50px;
 
    }
.BOX {float: left;
}


.boxy {
    background-color: #FFFFFF;
    margin: 100px;
    width: 239px;
    height: 350px;
    float: left;
    border: 5px solid green;
}

img.top {
    vertical-align: text-top;    
    ruby-align: center;          
}

#li01 {
    color: blue;
}


#li03 {
    color: yellow;
}


a {color: green;}






form {    
    color:	#FFFFFF                         
    }

p { 
    text-indent: 53px;
}

ul {
    list-style-type: none;
    background-color: gray;
    margin: 0px; 
    padding: 0px;
    overflow: hidden;
    height: 50px;
}

li {
float: left;
width: 80px;
height: 50px;
text-align:center;
margin: 15px;
overflow: hidden;
}

span {
padding: 20px; 
}

.button 
{
    border-radius: 15px;
    padding: 10;
    border-color: gray;

}
.button:hover {
    background-color: #808095;
}